In [7]:
import pandas as pd

In [8]:
data = pd.read_csv("G:\Analysis_folder\Dataset\\movies.csv",usecols =  ['movieId','title'])
data.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [9]:
rating_data = pd.read_csv("G:\Analysis_folder\Dataset\\ratings1.csv", usecols = ['userId','movieId','rating'])
rating_data.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [10]:
rating_data.pivot(index='movieId',columns='userId',values='rating')

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,NaN,NaN,4.0,NaN,4.5,NaN,NaN,NaN,...,4.0,NaN,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,NaN,NaN,NaN,NaN,NaN,4.0,NaN,4.0,NaN,NaN,...,NaN,4.0,NaN,5.0,3.5,NaN,NaN,2.0,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
from scipy.sparse import csr_matrix

In [12]:
movie_matrix = csr_matrix(rating_data.values)

In [13]:
from sklearn.neighbors import NearestNeighbors

In [14]:
model = NearestNeighbors(metric = 'cosine',algorithm = 'brute', n_neighbors = 20)
model.fit(movie_matrix)

NearestNeighbors(algorithm='brute', metric='cosine', n_neighbors=20)

In [15]:
from fuzzywuzzy import process

In [32]:
def recommend(movie,x,n):
    ind = process.extractOne(movie,data['title'])[2]
    print('Movie selected', data['title'][ind], 'index: ', ind)
    distance, indices = model.kneighbors(x[ind], n_neighbors=n)
    for i in indices:
        print(data['title'][i].where(i!=ind))

In [33]:
recommend('toy story',movie_matrix,10)

Movie selected Toy Story (1995) index:  0
0                                                    NaN
1                                         Jumanji (1995)
561              Some Folks Call It a Sling Blade (1993)
516                                Love and a .45 (1994)
563    Alphaville (Alphaville, une étrange aventure d...
560                                    Barbarella (1968)
2                                Grumpier Old Men (1995)
874                               Mina Tannenbaum (1994)
564                                 It's My Party (1996)
565                          Operation Dumbo Drop (1995)
Name: title, dtype: object